extends layout

block content
  h1 Welcome to #{title}
  p  The Public API is available at <a href="https://localhost/public/">public/</a>
  p  The Private API is available at <a href="https://localhost/private/">private/</a>
