extends layout

block content
  h1 Welcome to #{title}
  p  The Public API is available at <a href="https://x.devgains.com/public/">public/</a>
  p  The Private API is available at <a href="https://x.devgains.com/private/">private/</a>
